# backend-deployment.yml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-dep
  namespace: mern-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: nukeleus/glorymaps_backend:latest
          ports:
            - containerPort: 5000
          env:
            - name: MONGO_URL
              value: "mongodb+srv://dhrumilparmar27481:<db_password>@clusterglorymaps.s3qi3xf.mongodb.net/?appName=ClusterGlorymaps"
