kind: Service
apiVersion: v1
metadata:
  name: front-service
  namespace: mern-app
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 5173
      targetPort: 5173
      nodePort: 30000
  type: NodePort
